<div class="card mb-4">
  <div class="card-body">
    <form id="update_password_form" onsubmit="return false">
      <div class="row">
        <div class="mb-3 col-md-6 ">
          <label for="member_password" class="form-label">비밀번호</label>
          <input type="password" id="member_password" class="form-control" name="password" aria-describedby="password" max="20"/>
        </div>
        <div class="mb-3 col-md-6">
          <label for="member_password_confirm" class="form-label">비밀번호 확인</label>
          <input type="password" id="member_password_confirm" class="form-control" aria-describedby="password" max="20"/>
        </div>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary me-2" id="update_password_button">비밀번호 수정</button>
        <button type="reset" class="btn btn-outline-secondary">취소</button>
      </div>
    </form>
  </div>
</div>
<script>
  const passwordUpdate = {
    bindUpdatePasswordButtonClickEvent() {
      $(document).on('click', '#update_password_button', function () {
        if ($('#member_password').val() !== $('#member_password_confirm').val()) {
          sweetAlert.errorAlert('비밀번호를 체크해주세요.');
          return;
        }

        $.ajax({
          type: 'put',
          url: '/api/member/password',
          data: $('#update_password_form').serialize(),
          success: function () {
            sweetAlert.successAlert('비밀번호가 수정되었습니다.');
          },
          error: function () {
            sweetAlert.errorAlert('비밀번호 수정에 실패했습니다.');
          }
        });
      });
    }
  };

  $(document).ready(function () {
    passwordUpdate.bindUpdatePasswordButtonClickEvent();
  });
</script>